:root {
  --primary-color: #421b43;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  /* background-color: #421B43;
    background-image: none;
    background-repeat: no-repeat; */
  background: linear-gradient(180deg, #421b43 0%, rgba(66, 27, 67, 0) 83.85%),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
}

/* LIST COMPONENT STYLES */

.page_title {
  margin: 15px 0;
}

.container-height {
  margin: 130px 0;
}

.card-height {
  height: 26rem;
  border: 1px solid darkgray;
}

.card-img-height {
  height: 225px;
  width: 100%;
}

.card-text-overflow {
  /* border: 2px solid red; */
  overflow: auto;
}

.card-text-height-event {
  height: 3rem;
}

.card-text-height-destination {
  height: 17rem;
}

.list-item {
  cursor: pointer;
  width: 18rem;
}

.list-item:hover {
  background-color: var(--primary-color);
  color: whitesmoke;
}
/* END LIST COMPONENT STYLES */

/* BEGIN EVENT DETAILS STYLES */

.details_text {
  font-size: 1em;
  line-height: 1.2em;
}

.details_text i {
  margin: 5px 10px;
}
.details_label {
  font-weight: bold;
}

.details_description {
  width: 34em;
}

.details_image {
  height: 225px;
  width: 80%;
  max-width: 500px;
}

.fa-font-size {
  font-size: 22px;
}

/* END EVENT DETAILS STYLES */

footer {
  /* 
    position: absolute;
    bottom: 0; 
  */
  position: fixed;
  bottom: 0;
  z-index: 10;

  /* width: 1080px; */
  /* height: 220px; */
  padding: 20px 0 0;
  line-height: 1rem;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #421b43;
}

footer a {
  padding: 0 1rem;
}

footer .row {
  padding-bottom: 1rem;
}
/* 
* {
  border: 2px solid red;
} */

/*  */

h1 {
  color: #421b43;
  font-family: agency-fb, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: inline;
}

#heading-pin {
  max-height: 3.5rem;
  padding: 0 0 0.75rem;
  margin: 0.75rem 1rem;
}
