:root {
  --primary-color: #421b43;
}

body {
    /* background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #DC4626 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F2AE1D; */
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #DC4626 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #f2ae1d80;
    background-repeat: no-repeat;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  /* background-color: #421B43;
    background-image: none;
    background-repeat: no-repeat; */
  background: linear-gradient(180deg, #421b43 0%, rgba(66, 27, 67, 0) 83.85%),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #ffffff;
}

p, a {
  font-family: agency-fb, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: large;
}

/* LIST COMPONENT STYLES */

.page_title {
  margin: 15px 0;
}

.container-height {
  margin: 130px 0;
}

.card-height {
  height: 26rem;
  border: 1px solid darkgray;
}

.card-img-height {
  height: 225px;
  width: 100%;
}

.card-text-overflow {
  /* border: 2px solid red; */
  overflow: auto;
}

.card-text-height-event {
  height: 3rem;
}

.card-text-height-destination {
  height: 17rem;
}

.list-item {
  cursor: pointer;
  width: 18rem;
}

.list-item:hover {
  background-color: var(--primary-color);
  color: whitesmoke;
}
/* END LIST COMPONENT STYLES */

/* BEGIN EVENT DETAILS STYLES */

.details_text {
  font-size: 1em;
  line-height: 1.2em;
}

.details_text i {
  margin: 5px 10px;
}
.details_label {
  font-weight: bold;
}

.details_description {
  width: 34em;
}

.details_image {
  height: 225px;
  width: 80%;
  max-width: 500px;
}

.fa-font-size {
  font-size: 22px;
}

/* END EVENT DETAILS STYLES */

footer {
  /* 
    position: absolute;
    bottom: 0; 
  */
  position: fixed;
  bottom: 0;
  z-index: 10;

  /* width: 1080px; */
  /* height: 220px; */
  padding: 20px 0 0;
  line-height: 1rem;
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%), #421b43;
}

footer a {
  padding: 0 1rem;
}

footer .row {
  padding-bottom: 1rem;
}

h1 {
  color: #421b43;
  font-family: agency-fb, sans-serif;
  font-weight: 700;
  font-style: normal;
  display: inline;
}

#heading-pin {
  max-height: 3.5rem;
  padding: 0 0 0.75rem;
  margin: 0.75rem 1rem;
}

.login-form {
  margin-top: 12%;
}

/* USER PROFILE STYLING */

.user-profile {
  padding: 3%;
  margin-top: 3%;
  margin-bottom: 3%;
  border-radius: 0.5rem;
  background: rgb(252, 238, 235);
  color: #421b43;
}
.profile-header {
  margin-bottom: 5%;
}

.profile-img {
  text-align: center;
}
.profile-img img {
  width: 70%;
  height: 100%;
}
.profile-img .file {
  position: relative;
  overflow: hidden;
  margin-top: -20%;
  width: 70%;
  border: none;
  border-radius: 0;
  font-size: 15px;
  background: #212529b8;
}
.profile-img .file input {
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.profile-head h5 {
  color: #333;
}
.profile-head h6 {
  color: #0062cc;
}
.profile-misc {
  font-size: 12px;
  color: #818182;
  margin-top: 5%;
}
.profile-head .nav-tabs {
  margin-bottom: 5%;
}
.profile-head .nav-tabs .nav-link {
  font-weight: 600;
  border: none;
}
.profile-head .nav-tabs .nav-link.active {
  border: none;
  border-bottom: 2px solid #0062cc;
}
.profile-work {
  padding: 14%;
  margin-top: -15%;
}
.profile-work h6 {
  /* font-size: 12px; */
  color: #818182;
  font-weight: 600;
  margin-top: 10%;
}
.profile-work p {
  color: #495057;
  font-weight: 600;
  font-size: 14px;
}
.profile-work ul {
  list-style: none;
}
.profile-tab label {
  font-weight: 600;
  color: rgb(220, 72, 47);
}
.profile-tab p {
  font-weight: 600;
}

/* END USER PROFILE STYLING */
