header {
    background: linear-gradient(180deg, #421B43 0%,
                rgba(66, 27, 67, 0) 83.85%),
                linear-gradient(180deg, #FFFFFF 0%,
                rgba(255, 255, 255, 0) 100%),
                #FFFFFF;
}

footer {
    position: absolute;
    bottom: 0;
    padding: 20px 0 0;
    line-height: 1rem;
    background: linear-gradient(180deg, #FFFFFF 0%,
                rgba(255, 255, 255, 0) 100%),
                linear-gradient(180deg, #FFFFFF 0%,
                rgba(255, 255, 255, 0) 100%),
                #421B43;
}

footer a {
    padding: 0 1rem;
}

footer .row {
        padding-bottom: 1rem;
}

body {
    /* background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #DC4626 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #F2AE1D; */
    background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #DC4626 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #f2ae1d80;
    background-repeat: no-repeat;
}